
    .theme-line-0 {
      --layer2: #202020;
      --layer1: #202020;}
    
    .theme-line-3 {
      --layer1: #202020;
      --layer2: #202020;}
    
    .theme-line-14 {
      --layer1: #202020;}
    
    .theme-line-53 {
      --layer2: #202020;}
    
    .theme-line-68 {
      --layer2: #000;
      --layer1: #000;}
    